{{ form_start(form) }}
    <div class="form-group">
        {{  form_label(form.from_hours) }}
        {{  form_widget(form.from_hours, { attr: {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{  form_label(form.to_hours) }}
        {{  form_widget(form.to_hours, { attr: {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{  form_label(form.rate) }}
        {{  form_widget(form.rate, { attr: {'class': 'form-control'} }) }}
    </div>
    <div class="form-check">
        {{  form_widget(form.weekday, { attr: {'class': 'form-check-input'} }) }}
        {{  form_label(form.weekday) }}
    </div>

    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
