{% extends 'base.html.twig' %}

{% block title %}Rate index{% endblock %}

{% block body %}
    <h1>Rate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>From_hours</th>
                <th>To_hours</th>
                <th>Rate</th>
                <th>Weekday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rate in rates %}
            <tr>
                <td>{{ rate.id }}</td>
                <td>{{ rate.fromHours }}</td>
                <td>{{ rate.toHours }}</td>
                <td>{{ rate.rate }}</td>
                <td>{{ rate.weekday ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('rate_edit', {'id': rate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rate_new') }}">Create new</a>
{% endblock %}
