<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">

    <header>
        <div class="logo float-left"><h1><a href="{{ path('home') }}">Time Tracker</a></h1></div>
        <div class="login float-right">
            {% if not app.user %}
                <a href="{{ path('app_login') }}">Login</a>
            {%  else  %}Hello {{ app.user.username }} |
                {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('user_index') }}">Create Employee record</a> |{% endif %}
                {% if is_granted('ROLE_USER')  %}<a href="">Log working time</a> |{%  endif %}
                <a href="{{  path('app_logout') }}">Logout</a>
            {%  endif %}
        </div>
    </header>
    <div class="row">
        <div class="col-md-12 inner-content">
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer>Time Tracker Task 2020</footer>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
